{% extends 'base.html' %}
{% block content %}
<div class="col-12">
  <table id="example" class="table table-striped" style="width: 100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Contact Type</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts.all %}
      <tr>
        <td>{{contact.id}}</td>
        <td>{{contact.name}}</td>
        <td>{{contact.address}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.contact_type}}</td>
        <td>
          <a href="{% url 'edit' contact.id %}" class="btn btn-info">Edit</a>
        </td>
        <td>
          <a href="{% url 'delete' contact.id %}" class="btn btn-danger"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
